.email-preview {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.email-preview span:first-child {
    margin-inline-start: 15px;
    font-size: 18px;
    font-weight: bold;
    width: 40%;
}

.email-preview span:nth-child(2) {
    flex-grow: 1;
    width: 30%;
    padding-block-end: 5px;
    padding-block-start: 5px;
}

@media (max-width:710px) {
    .email-preview {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .email-preview span.subject {
        width: fit-content;
    }
    .email-preview span.body {
        width: fit-content;
    }
}