.email-filter {
    display: flex;
    flex-direction: column;
    margin-inline-end: 20px;
}

.email-filter>* {
    margin-block-start: 10px;
    cursor: pointer;
}

.email-filter>*:hover {
    background-color: lightgray;
}