.email-compose {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 20%;
    height: fit-content;
    border-radius: 15px;
}

.email-compose header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-compose main {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.email-compose input {
    padding: 10px;
    border: none;
    font-family: Garamond;
    font-size: 18px;
    outline: none;
}

.email-compose input:first-of-type {
    border-top: 1px solid rgba(60, 64, 67, 0.302);
    border-bottom: 1px solid rgba(60, 64, 67, 0.302);
}

.email-compose input:not(:first-of-type) {
    border-bottom: 1px solid rgba(60, 64, 67, 0.302);
}

.email-compose textarea {
    font-family: Garamond;
    font-size: 16px;
    border: none;
    outline: none;
}

.email-compose i {
    position: relative;
    bottom: 35px;
    left: 290px;
    cursor: pointer;
    font-size: 24px;
}