.email-filter {
    display: flex;
    flex-direction: column;
    margin-inline-end: 20px;
    padding: 0 30px 0 30px;
    font-size: 20px;
    font-weight: bold;
}

.email-filter>* {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(60, 64, 67, 0.302);
}

.email-filter>*:hover {
    background-color: lightgray;
}


/* .email-filter>:first-child {
    margin-block-end: 10px;
} */

.email-filter select {
    padding: 6px;
    font-family: Roboto;
    border-radius: 10px;
}

@media (max-width:710px) {
    .email-filter {
        display: none;
        position: fixed;
        background: white;
        z-index: 1;
        left: 0;
        top: 200px;
        width: 100%;
        z-index: 1;
    }
}