.email-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.email-list-container {
    flex-grow: 1;
}

.email-list-container li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.email-list-container li:nth-child(even) {
    background-color: rgba(219, 219, 219, 0.514);
}

.email-list-container li span {
    display: flex;
    align-items: center;
}

.list-fetures {
    display: flex;
}

.list-fetures i {
    margin-inline-start: 10px;
}

.list-fetures i:last-child {
    margin-inline-end: 10px;
}

.read {
    opacity: 0.5;
}

.gold {
    color: gold;
}