@font-face {
    font-family: Sifonn;
    src: url(../assets/fonts/SIFONN_BASIC.otf);
}

@font-face {
    font-family: Garamond;
    src: url(../assets/fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: DancingScript;
    src: url(../assets/fonts/DancingScript-Regular.ttf);
}