.appsus {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appsus .main-container {
    flex-grow: 1;
}

.appsus-app {
    text-align: center;
}

.appsus-app h3 {
    display: inline-block;
    margin: 0 10px;
}