.appsus {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appsus .main-container {
    flex-grow: 1;
    margin-top: 30px;
}

.appsus-app {
    text-align: center;
    margin: 48px;
}

.appsus-app .appsus-name {
    font-size: 5rem;
    font-family: DancingScript;
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.appsus-app .inner-apps-names {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.8rem;
    margin: 115px 0;
}

.inner-apps-names .app-name {
    margin: 0 10px;
    font-family: Roboto;
    color: black;
    text-decoration: none;
}

.inner-apps-names .app-name:hover {
    text-shadow: 4px 5px 8px rgba(151, 107, 12, 0.74);
}

.inner-apps-names .app-name .first-letter {
    font-size: 4rem;
}


/* svgs */

.svg-shape-wrapper {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}

svg[class*=svg-shape-] {
    animation: svganimationred 30s infinite;
    animation-timing-function: linear;
}

.red-triangle {
    position: relative;
    display: block;
    left: -258px;
    top: 144px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.red-triangle .svg-shape-1 {
    top: 110px;
    left: 370px;
    fill: #ff7e8b;
}

.leaf {
    position: absolute;
    display: block;
    left: 1556px;
    top: 400px;
    transform: translate3d(-13.344px, 11.208px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.leaf .svg-shape-2 {
    bottom: 430px;
    right: 5%;
    fill: #3fc;
}

.yellow-triangle {
    position: absolute;
    display: block;
    left: 186px;
    top: 400px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.yellow-triangle .svg-shape-3 {
    top: 400px;
    left: 10%;
    fill: #ff0;
}

.turquoise-triangle {
    position: absolute;
    display: block;
    left: 870px;
    top: 698px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.turquoise-triangle .svg-shape-4 {
    bottom: 17%;
    right: 20%;
    fill: #6ff;
}

.green-triangle {
    position: absolute;
    display: block;
    left: 1200px;
    top: 152px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.green-triangle .svg-shape-5 {
    top: 100px;
    right: 20%;
    fill: #6f0;
}

.dot {
    position: absolute;
    display: block;
    left: 1115px;
    top: 238px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.dot .svg-shape-6 {
    top: 25%;
    right: 30%;
    fill: #fc3;
}

.small-triangle {
    position: absolute;
    display: block;
    left: 369px;
    top: 635px;
    transform: translate3d(-16.68px, 14.01px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.small-triangle .svg-shape-7 {
    bottom: 10%;
    left: 20%;
    fill: none;
    stroke: #f6de33;
    stroke-width: 3.4792;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

@keyframes svganimationred {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 460px) {
    .inner-apps-names .app-name .first-letter {
        font-size: 3rem;
    }
    .appsus-app {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .appsus-app .appsus-name {
        margin: 0;
        margin-block-end: 10px;
    }
    .appsus-app .inner-apps-names {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin: 0;
    }
}