.appsus-app-header .main-nav .nav-img {
    position: relative;
    text-align: center;
}

.appsus-app-header .main-nav-list {
    position: absolute;
    top: -20px;
    right: 0;
    background-color: rgb(204, 198, 198);
}

.appsus-app-header .main-nav-list a {
    font-family: Garamond;
    font-size: 3.5rem;
    margin: auto;
    height: 8.1875rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 20px;
}

.appsus-app-header .main-nav-list a:hover {
    background-color: whitesmoke;
}


/* .main-nav-list li a:after {
    content: "";
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 4px;
    background-color: #000;
    transition: all .125s ease-in-out;
} */


/* 
body.menu-open .appsus-app-header .main-nav-list {
    z-index: 1;
    display: block;
    transform: translateX(0);
    transition: transform .8s;
} */

body.menu-open .screen {
    display: block;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
}

.hamburger-sign {
    font-size: 36px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}