@import '../css/apps/keep/keep-main.css';

/* body, html   */

@import './fonts.css';
@import './apps/email/email-main.css';
@import './home-page.css';
@import './main-footer.css';
@import './main-header.css';
* {
    box-sizing: border-box;
}

html {
    font-family: Garamond;
}

body {
    margin: 20px;
    background-color: #f4f5f5;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
}