@import './cmp/email-list.cmp.css';
@import './cmp/email-preview.cmp.css';
@import './cmp/email-filter.cmp.css';
@import './cmp/email-compose.cmp.css';
@import './cmp/email-details.cmp.css';

/* 



*/

.mister-email .email-header {
    display: flex;
    margin-block-end: 20px;
}

.mister-email .email-header input {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    font-family: Garamond;
    align-self: center;
    font-size: 18px;
    padding: 12px 30px 12px 30px;
    border-radius: 25px;
    outline: none;
    margin-inline-start: 100px;
    border: 1px solid rgba(60, 64, 67, 0.302);
}

.mister-email .compose-btn {
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    border: none;
    outline: none;
    color: rgb(2, 3, 2);
    font-size: 16px;
    border-radius: 30px;
    padding: 12px 30px 12px 30px;
    outline: none;
    transition: 0.2s;
    font-family: Garamond;
}

.mister-email .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.mister-email .selectBtns {
    margin-block-end: 15px;
    margin-inline-start: 120px;
}

.mister-email .selectBtns i {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.mister-email .selectBtns i:hover {
    background-color: lightgrey;
}

.email-body {
    display: flex;
}

.gold {
    color: gold;
}

.router-email-child {
    position: relative;
    top: -200px;
    left: 350px;
    max-width: 500px;
    min-height: 500px;
    background: whitesmoke;
}