.keep-list ul {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, 300px);}

.keep-list li {
    list-style-type: none;
    border-radius: 12px;
    margin: 5px;
    height: fit-content;
}

.keep-list li:hover {
    box-shadow: 6px 1px 10px rgba(43, 19, 11, 0.74);
}