.keep-list ul {
    display: flex;
    flex-wrap: wrap;
}

.keep-list li {
    list-style-type: none;
    border-radius: 12px;
    margin: 5px;
    /* width: fit-content; */
    height: fit-content;
}