.keep-preview {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
}

.keep-preview .keep-edit-icons {
    text-align: center;
    margin: 20px 15px 0px 15px;
}

.keep-preview .keep-edit-icons:hover {
    display: block;
}

.keep-preview .keep-edit-icons .fa {
    margin: 0 10px;
    font-size: 21px;
}

.keep-preview .keep-edit-icons .fa:hover {

    box-shadow: 6px 1px 10px rgba(43, 19, 11, 0.74);
}


.keep-preview h3 {
    text-align: center;
    font-size: 23px;
}

.keep-preview a {
    text-decoration: none;
}

.keep-preview .keep-edit-icons .color-input {
    position: absolute;
    z-index: -1;
}
