.keep-add {
    padding: 15px;
    margin: 10px;
    display: flex;
}

.keep-add form {
    position: inherit;
}

.keep-add form>* {
    font-family: Garamond;
    font-size: 18px;
    color: darkgrey;
    cursor: pointer;
}

.keep-add input {
    width: 45.625rem;
    height: 111px;
    font-family: Garamond;
    align-self: center;
    font-size: 25px;
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    border: 1px solid rgba(60, 64, 67, 0.302);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.keep-add .keep-type-icons {
    position: relative;
    top: -32px;
    right: 26px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.keep-add .keep-type-icons>* {
    margin: 0 10px;
    font-size: 21px;
}

.keep-type-icons .save-btn {
    background-color: none;
    border: none;
    background-color: initial;
    font-family: Garamond;
    color: darkgrey;
    font-size: 25px;
    display: flex;
    padding: 0;
    margin: 0;
    margin: 0 10px;
}


@media (max-width: 870px) {
    .keep-add input {
        margin: 10px 0;
        width: 33.25rem;
    }

    .type-search select {
        width: 33.25rem;
    }

    .keep-add .keep-type-icons {
        top: -47px;
        right: 32px;
    }

    .keep-add .save-btn {
        top: -79px;
        left: 460px;
    }
}

@media (max-width: 460px) {
    .keep-add input {
        width: 23rem;
        height: 111px;
    }

    .keep-add .keep-type-icons {
        top: -42px;
        right: 32px;
    }

    .keep-add .save-btn {
        top: -74px;
        left: 294px;
    }
}