@import './cmps/keep-img.css';
@import './cmps/keep-list.css';
@import './cmps/keep-preview.css';
@import './cmps/keep-txt.css';
@import './cmps/keep-todos.css';
@import './cmps/keep-search.css';
@import './cmps/keep-add.css';

.miss-keep {
    margin: 50px;
}

.miss-keep .top-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 460px) {
    .miss-keep .top-sections {
        margin-inline-start: 25px;
    }

}